.body{
    background-color: #b76d6d;
    font-family: "Roboto"sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0, O.6);
    margin: 0;
    line-height: 1.3;
}
.liste{
display: flex;
gap: 30px;
justify-content: center;
margin:15px;
}
.liste a{
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;;
}
.title{
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
.title1{
    font-size: 25px;
    letter-spacing: 6px;
    font-family: "Roboto", sans-serif;
}
.p-title1{
    font-size: 15px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}
.shop{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    padding-top: 2%;
    letter-spacing: 5px;
}
.main{
    background-color: white;
}
.image{
   margin-left:4%; 
   background:no-repeat center center / cover url("img/Rectangle 7.png");
}
.NEW{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    padding-top: 5%;
    margin-left: 5%;
    letter-spacing: 5px;
}
.rectangle{
    margin-top:-40%;
    padding: 8%;
}
.main1{
    background-color: #DBDBDB;
    padding-bottom: 5%;
}
.p-main{
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.p-text{
    display:block;
    align-items: center;
}
.about-title{
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 39px;
    font-family: "Roboto", sans-serif;
    margin-top: 9%;
}
.p-about{
    font-size: 15px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
   
}
.p-about1{
    font-size: 15px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
   
}
.button{
    background-color: #8E9A82;
    border-radius: 59px;
    color: white;
    font-weight: 100;
    font-size: 20px;
    padding: 2%;
    margin-top: 5%;
    padding-right: 8%;
    padding-left: 5%;
    border-color:#F1F1F1 ;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
  
}
.button2{
    color: black;
    font-weight: 100;
    font-size: 20px;
    padding: 1%;
    margin-top: 1%;
    padding-left: 3%;
    padding-right: 4%;
    border-color:#F1F1F1 ;
    letter-spacing: 1px;
    border: solid 3px #8E9A82 ;
    font-family: "Roboto", sans-serif;
    opacity: 0.9;
}
.form{
    margin-left: 10%;
}
.name{
    border:5px solid  #8E9A82;
}
.subMit{
    background-color: #8E9A82;
    border-radius: 10px;
    color: white;
    font-weight: 100;
    font-size: 18px;
    padding: 1%;
    margin-top: 5%;
    padding-right: 4%;
    padding-left: 4%;
    border-color:#F1F1F1 ;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
}
.footer{
   background-color: #DBDBDB;
   position: relative;
   z-index: 4;
}

@media only screen and (max-width: 768px) {
    .body {
      background-color: rgb(4, 17, 21);
    }
    .img-About{
        width: 100%;
    }
   .liste{
      flex-direction: column;
   }
   .sidebare{
    width: 100%;
   }
    }
 .span{
    background-color: aqua;
 }
